[book]
authors = ["{{ authors }}"]
language = "en"
multilingual = false
src = "book"
title = "{{ project-name }} Documentation"

[rust]
edition = "2021"

[build]
build-dir = "target/book"

[output.html]
{%- if mdbook_pages_url -%}
cname = "{{ mdbook_pages_url }}"
{%- endif -%}
curly-quotes = true
edit-url-template = "https://github.com/{{ repository_path }}/edit/main/{path}"
git-repository-url = "https://github.com/{{ repository_path }}"
preferred-dark-theme = "navy"
