name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lychee_links:
    name: Broken URL Checking
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5
      - name: Run lychee
        uses: lycheeverse/lychee-action@v2.6.1
        with:
          fail: true
  spelling:
    name: Spell Checking
    runs-on: ubuntu-latest
    steps:
    - name: Checkout sources
      uses: actions/checkout@v5
    - name: typos
      uses: crate-ci/typos@master
  conventional_commits:
    name: Conventional Commit Checking
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
        with:
          fetch-depth: 0
      - name: cocogitto check
        uses: oknozor/cocogitto-action@v4
  expand_template:
    name: Expand Template
    runs-on: ubuntu-latest
    # FIXME: fix expand template step error
    if: false
    env:
      PROJECT_NAME: basic-tests
      CARGO_GENERATE_VALUE_CI: true
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5
      - name: Expand template
        uses: cargo-generate/cargo-generate-action@latest
        with:
          name: ${{ env.PROJECT_NAME }}
          arguments: "--values-file ./cargo_generate/values.toml"
      - name: Build setup
        uses: ./.github/actions/build_setup
      - run: |
          mv $PROJECT_NAME ${{ runner.temp }}/
          cd ${{ runner.temp }}/$PROJECT_NAME
          # IMPROVEMENT: add more tests / CI steps
          cargo check
